* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}


a {
    color: #000;
}

a:checked {
    color: rgb(77, 77, 77);
}

html {
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

article {
    animation: transitionIn 0.75s;
}

header {
    padding: 5px;
    margin: 5px;
}
header img {
    max-height: 200px;
    object-fit: contain;
}
.titulo {
    text-align: center;
    padding: 50px 0 50px 0;
}
.subtitulo {
    line-height: 30px;
    text-align: center;
}

/* <----- section ------> */

body {
    min-height: 100%;
    display: flex;

    flex-direction: column;
}

/* <----- section ------> */

section {
    overflow: hidden;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.botonera-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}
.botones {
    width: 300px;

    margin: 5px;
    padding: 10px;
}
.boton {
    width: 250px;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    border-style: 2px #000;
    margin: 5px;
}

.producto {
    margin: 5px;
    padding: 10px;
    border-top: dotted;
    border-color: rgb(158, 158, 158);
    border-width: 2px;
}

.producto_titulo-precio {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    font-weight: 700;
}

.producto__precio {
    padding-right: 10px;
}
.producto__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 150px;
    height: 150px;
}
.producto__imagen img {
    border-radius: 5%;

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.producto__descripcion {
    padding: 10px 0 5px 0;
}

/* <----- footer ------> */

footer {
    padding-top: 15px;
    margin-top: auto;
    background: rgb(63, 63, 63);
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 5px;
}
.redes-whatsapp {
    font-size: 40px;
    padding-right: 10px;
}
.redes-whatsapp:hover {
    font-size: 45px;
}

.redes-instagram {
    font-size: 40px;
    padding-right: 10px;
}
.redes-instagram:hover {
    font-size: 45px;
}

.redes-facebook {
    font-size: 40px;
}
.redes-facebook:hover {
    font-size: 45px;
}

.licencia {
    color: white;
    line-height: 40px;
    text-align: center;
}
