* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ff9100;

    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    color: #000000;
}
/* <== header ==> */

header {
    height: 10vh;
    width: 100%;
    background-color: #ff9100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 3px #ffffff;
}
h1 {
    padding-left: 20px;
    font-size: 3rem;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

/* <== landing ==> */

.landing {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90vh;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    background-color: #ffffff;
}
.landing_art1 {
    height: 80%;
}
.landing_art2 {
    display: flex;
    justify-content: center;
}

.landing_titulo {
    width: 100%;

    font-size: 4rem;
    color: #ff9100;
    font-weight: bolder;
    line-height: 4.2rem;
}
.landing_titulo-menucito {
    font-size: 4rem;
    color: #161616;
    font-weight: bolder;
    line-height: 3.5rem;
    padding-bottom: 1rem;
}

.landing_descripcion {
    font-size: 1.6rem;
    color: #949494;
    line-height: 2rem;
}

.boton_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton_landing a {
    background-color: #ff9100;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 1rem 3rem;
}
.boton_landing a:visited {
    color: #ffff;
}

/* <== proyectos ==> */

.proyectos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 10rem 0rem;
    padding: 10rem 0rem;
    width: 100%;
    height: 100%;
}
.proyectos h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}

/* <== lag ==> */

.proyectos_lag {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}
.proyectos_lag img {
    display: flex;

    align-items: center;
    border-radius: 10px;

    max-height: 250px;
}
.proyectos_pizzanova {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}

/* <== thefriendsburgers ==> */

.proyectos_thefriendsburgers {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    width: 100%;
}
.proyectos_thefriendsburgers img {
    display: flex;

    align-items: center;
    border-radius: 10px;

    max-height: 300px;
}

/* <== pizzanova ==> */

.boton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 40px;

    background-color: #ff9100;
    margin-top: 5px;
    border-radius: 10px;
}

.boton a {
    color: #ffffff;
    font-weight: 700;
    display: flex;
    text-decoration: none;
}

/* <== Tabla precios ==> */

.precios-tabla {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5rem;
}

.precios-tabla h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    margin: 3rem 0rem;
    text-align: center;

    font-size: 6rem;
}
.precios-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.precios-tabla {
    display: flex;

    width: 100%;
}
.precios-columna {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    max-width: 300px;
    height: 65rem;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 1rem;
}

/* para version desktop */

/* .precios-columna.izquierda{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.precios-columna.derecha{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 */

.precios-columna.central {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    max-width: 320px;
    height: 70rem;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
    margin-top: 1rem;

    z-index: 1;
}

.precios-superior {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
}
.precios-titulo {
    font-size: 4rem;
    font-weight: bolder;
}
.precios-recomendado {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
}
.precios-precio {
    color: #ff9100;

    font-size: 4rem;
    font-weight: boldv;
}
.precios-duracion {
    color: #5e5e5e;
    font-size: 2rem;
}
.separador {
    height: 2px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.precios-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 33rem;
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}
.precios-inferior p {
    font-family: "poppins";
    font-weight: lighter;
    line-height: 3.5rem;
    font-size: 1.3rem;
    color: rgb(61, 61, 61);
}

.btn-cta {
    border: none;
    background-color: #ff9100;

    width: 90%;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
}
/* <== Tabla precios ==> */

/* <== INICIO WHATSAPP BTN */

.btn_whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 15px;
    right: 15px;
    background: #46c756;
    columns: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(red, green, blue, 0.3);
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn_whatsapp:visited {
    color: white;
    background: #46c756;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn_whatsapp:hover {
    text-decoration: none;
    color: #46c756;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* <--FIN WHATSAPP BTN --> */

/* #264653
#2a9d8f
#e9c46a
#f4a261
#e76f51 */
