* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    color: #000000;
}

a:visited {
    color: rgb(29, 29, 29);
}
/* <== header ==> */

header {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid 3px #ffffff;
}

.waves_header {
    width: 100%;
}
.contenedor_titulo {
    position: absolute;
    width: 100%;
}
.titulo_principal {
    text-align: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-left: 20px;
    top: 0;
    margin-top: -1rem;
    font-size: 3.5rem;
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

/* <== landing ==> */

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: #ffffff;
}
.landing_art1 {
    height: 80%;
    width: 90%;
}
.landing_art2 {
    display: flex;
    justify-content: center;
}

.landing_titulo {
    width: 100%;
    text-align: left;

    font-size: 4rem;
    color: #ff9100;
    font-weight: bolder;
    line-height: 4rem;
}

.landing_descripcion {
    font-size: 1.4rem;
    padding-top: 2rem;
    color: #1a1a1a;
    line-height: 2rem;
}

.mockup_landing {
    display: flex;
    max-height: 50rem;
    margin-bottom: -7rem;
    padding: 2rem 2rem 0rem 2rem;
    max-width: 100%;
    z-index: 1;
}
.boton_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton_landing a {
    background-color: #ff9100;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 1rem 3rem;
}
.boton_landing a:hover,
a:focus {
    transform: scale(1.1);
}
.boton_landing a:visited {
    color: #ffff;
}
.landing-waves {
    width: 100%;
    height: 100%;
    margin-bottom: -1rem;
}

/* <== proyectos ==> */

.como_queda {
    text-align: center;
    color: #ffffff;
    margin-top: -10rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.proyectos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.ejemplo_tfb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
.mockup_menucito {
    padding: 1rem 0rem;
    display: flex;
    max-width: 100%;
    max-height: 600px;
    margin: 4rem 0rem;
}

.proyectos-waves {
    height: 100%;
    width: 100%;
}
.cred .proyectos h2 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* <== lag ==> */

.proyectos_lag {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.proyectos_lag img {
    display: flex;

    align-items: center;
    border-radius: 10px;

    max-height: 250px;
}
.proyectos_pizzanova {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}

/* <== thefriendsburgers ==> */

.proyectos_thefriendsburgers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0rem;
}

/* <== Tabla precios ==> */

.precios-tabla {
    width: 100%;
    background-color: #ff9100;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.precios-tabla h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 6rem;
}
.precios-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.precios-tabla {
    display: flex;

    width: 100%;
}
.precios-columna {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    max-width: 300px;
    height: 65rem;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 1rem;
}

/* para version desktop */

/* .precios-columna.izquierda{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.precios-columna.derecha{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 */

.precios-columna.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 40px;
    height: 70rem;
    background-color: #37b3b3;
    color: #fff;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
    margin-top: 1rem;

    z-index: 1;
}
.precios-columna.central .precios-precio {
    color: #fff;
    font-size: 5rem;
}
.precios-columna.central .precios-inferior p {
    color: #fff;
}
.precios-columna.central .btn-cta:hover {
    background-color: #fff;
    color: #ff9100;
}

.precios-superior {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
}
.precios-titulo {
    font-size: 4rem;
    font-weight: bolder;
}
.precios-recomendado {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
.precios-precio {
    color: #ff9100;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    font-size: 4rem;
    font-weight: bold;
}
.precios-duracion {
    color: #5e5e5e;
    font-size: 2rem;
}
.separador {
    height: 2px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.precios-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 33rem;
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}
.precios-inferior p {
    font-family: "poppins";
    font-weight: lighter;
    line-height: 3.5rem;
    font-size: 1.3rem;
    color: rgb(61, 61, 61);
}

.btn-cta {
    border: none;
    background-color: #ff9100;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

    cursor: pointer;
    width: 90%;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 1rem;
    color: #fff;
    transform: scale(1);
    animation: none;
}

.btn-cta:hover,
.btn-cta:focus {
    transform: scale(1.1);
}

.precios-columna.central.btn-cta {
    background-color: #fff;
}

/* <== Tabla precios ==> */

/* <== FOOTER ==> */

footer {
    width: 100%;
    background-color: #fff;
    margin-top: auto;
    text-align: center;
}
.footer-waves {
    margin-top: -1rem;
}
.creditos a {
    font-size: 1.5rem;
    padding: 2rem 0rem;
    text-decoration: none;
}
a:visited {
    color: black;
}
/* <== FOOTER ==> */

/* <== INICIO WHATSAPP BTN */

/* .btn_whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 15px;
    right: 15px;
    background: #46c756;
    columns: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(red, green, blue, 0.3);
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn_whatsapp:visited {
    color: white;
    background: #46c756;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn_whatsapp:hover {
    text-decoration: none;
    color: #46c756;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
} */

/* <--FIN WHATSAPP BTN --> */
