* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
html {
    height: 100%;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(0deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

a:checked {
    color: rgb(77, 77, 77);
}
a {
    color: #000;
}

body {
    min-height: 100%;
    display: flex;

    flex-direction: column;
}
header {
    background-color: rgb(181, 212, 0);
    padding: 5px;
    margin: 5px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.cabecera {
    justify-content: center;
   }
.titulo {
    display: flex;
    justify-content: center;
}
.subtitulo {
    display: flex;
    justify-content: center;
}

section {
    overflow: hidden;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.botonera-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}
.botonera-botones {
    background-color: aqua;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.boton {
    width: 90%;
    height: 100px;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    border-style: 2px #000;
    margin: 5px;
    font-size: 2rem;
}

footer {
    padding-top: 15px;
    margin-top: auto;
    background: rgb(63, 63, 63);
}
.licencia {
    color: white;
    line-height: 40px;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}
